[webservers]
%{ for instance in webservers ~}
${instance.name}   ansible_host=${instance.nat_ip_address}
%{ endfor ~}
[databases]
%{ for instance in databases ~}
${instance.name}   ansible_host=${instance.nat_ip_address}
%{ endfor ~}
[storage]
%{ for instance in storage ~}
${instance.name}   ansible_host=${instance.nat_ip_address}
%{ endfor ~}