# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store. (Dопустимо сохранять личную, секретную информацию)
personal.auto.tfvars